<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <title>footer</title>
</head>

<body>



    <div class="grid grid-cols-2 md:grid-cols-3 bg-[#3D8D7A] gap-10 border  ">
        <div class="flex flex-col  mt-5 px-8">
            <div class="flex items-center gap-3 ">
                <span>
                <svg class="size-14 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                </svg>
            </span>
            <span class="text-white text-xl font-semibold">Kitabi Adda </span>
            </div>
            <p class="text-white text-lg px-8">Your gateway to endless stories and knowledge. Join our community of book lovers today.</p>

        </div>
        <div class="flex flex-col mt-5 ">
            <span class="text-white text-xl font-semibold border-b">Quick Links</span>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>

        </div>

        <div>
            
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</body>

</html>