<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex ">
        <div class="w-full py-8 px-[10%] flex   ">
            <!-- left side login page -->
            <div class="w-1/2 bg-[#3D8D7A] items-center justify-center flex flex-col text-white p-8 rounded-l-lg">
                <div class="animate-float mb-8">
                    <svg class="book-icon w-32 h-32" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253">
                        </path>
                    </svg>
                </div>
                <h1 class="text-3xl font-semibold">Welcome Back!</h1>
                <p class="text-center px-[12%] text-lg mt-4">Dive back into your reading journey. Access your
                    personalized bookshelf and continue where you left off.</p>
                <div class="flex mt-8 space-x-4">
                    <div class="w-16 h-1 bg-white rounded-full bg-opacity-50"></div>
                    <div class="w-16 h-1 bg-white rounded-full"></div>
                    <div class="w-16 h-1 bg-white rounded-full bg-opacity-50"></div>
                </div>
            </div>

            <!-- right side login page -->
            <div class="w-1/2 bg-[#A3D1C6] flex-col p-8 justify-center rounded-r-lg flex">

                <div class="text-center mb-8 ">
                    <a href="https://kitabiadda.com/">
                        <img src="https://www.kitabiadda.com/assets/logo5.png" alt="BookStore Logo"
                            class="h-12 mx-auto mb-2">
                    </a>
                    <h2 class="text-2xl font-bold text-black">Login to Your Account </h2>
                    <p class="text-lg text-gray-800 mt-1">Enter your details to continue</p>
                </div>
                <form action="" method="post" class=" flex flex-col">
                    {% csrf_token %}
                    <div class="space-y-6 ">
                        <label for="" class="text-lg font-semibold text-gray-800">Email Address</label>
                        <input type="email" placeholder="your@email.com"
                            class="w-full  p-2.5 rounded-lg bg-white focus:outline-none pr-4 text-lg font-semibold text-gray-800">
                    </div>
                    <div class=" space-y-6 ">
                        <label for="" class="text-lg font-semibold text-gray-800">Password</label>
                        <input type="password" name="" id="" placeholder="......"
                            class="w-full p-2.5 rounded-lg bg-white focus:outline-none text-lg font-semibold">
                    </div>
                    <div class="">
                        <a href=""
                            class="flex justify-end text-[#3D8D7A] text-lg font-semibold mt-0 hover:underline">Forget
                            passowrd</a>
                    </div>

                    <button type="submit" name="login"
                        class="text-lg font-semibold bg-[#3D8D7A] text-white mt-4 rounded-lg p-2.5"> Sing Up</button>

                    <hr class="mt-4">
                    <div class=" flex text-gray-600 text-lg items-center justify-center">
                        <p>or continue with</p>
                    </div>

                    <a href="" class="w-full flex items-center justify-center px-4 py-3 mt-5 bg-gray-200 rounded-lg">
                        <svg class="w-5 h-5 mr-3" viewBox="0 0 48 48">
                            <path fill="#4285F4"
                                d="M24 9.5c3.19 0 6.07 1.1 8.38 2.93l6.23-6.23C34.92 2.29 29.74 0 24 0 14.68 0 6.72 5.38 2.61 13.24l7.24 5.63C12.21 13.17 17.63 9.5 24 9.5z">
                            </path>
                            <path fill="#34A853"
                                d="M46.38 24.5c0-1.5-.14-2.97-.4-4.38H24v8.31h12.69c-.5 2.5-1.92 4.63-3.94 6.16l6.22 6.22c4.06-3.75 6.41-9.3 6.41-15.81z">
                            </path>
                            <path fill="#FBBC05"
                                d="M10.78 28.11c-.68-2.03-1.06-4.19-1.06-6.39s.38-4.36 1.06-6.39L3.54 9.36A23.996 23.996 0 000 21.72c0 3.78.9 7.34 2.54 10.51l8.24-4.12z">
                            </path>
                            <path fill="#EA4335"
                                d="M24 48c6.49 0 11.93-2.14 15.92-5.79l-6.22-6.22c-2.19 1.47-4.92 2.31-7.7 2.31-6.37 0-11.79-3.67-14.14-8.87l-8.24 4.12C6.72 42.62 14.68 48 24 48z">
                            </path>
                        </svg>
                        <span class="text-lg font-medium">sing in with Google</span>
                    </a>
                    <div class="text-lg font-medium items-center justify-center mt-5 flex gap-3 mb-5">
                        Don't have an account?
                        <a href="#" class="text-[#3D8D7A] " >Sing up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% extends 'public-panel/footer.html' %}
</body>

</html>